* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7a9;

}

.inactive {
    display: none;
}

.darken {
    width: 100%;
	  height: 1200px;
	  position: absolute;
	  background-color: rgba(0, 0, 0, 0.5);
    

}

img {
    max-width: 100%;
}

.div-margin {
    margin: 0 auto;
    width: 95%;
    max-width: 1320px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    max-width: 1320px;
    padding: 1em 0 1em 0;
    position: sticky;
    top: 0;
    background-color: white;
}

header h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.8em;
}

header img {
    height: 2em;
    width: 2em;
}

.count-cart {
  position: absolute;
  right: 45px;
}

.mac-image {
    height: 240px;
    width: 240px;
    border-radius: 0.5em;
    object-fit: cover;
    cursor: pointer;
}

.div-productos {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.titulo-productos {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}

.container-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, 265px);
  gap: 26px;
  place-content: center;
  margin-top: 20px;
    
}

.title-product {
    font-size: 0.9em;
    font-weight: 600;
}

.container-info-product {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 1em;
    border-radius: 1em;
    background-color: white;

}

.container-info-product button {
  background-color: lightblue;
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 40px;
}

aside {
    background-color: var(--white);
    width: 360px;
    box-sizing: border-box;
    position: fixed;
    top: 120px;
    right: 50%;
    transform: translate(50%, 0);
    border-radius: 25px;
  }

  #shoppingCartContainer {
    padding: 24px;
    border-radius: 10px;
  }

  .cant-product-text {
    position: absolute;
    bottom: 150px;
    right: 49px;
    font-family: auto;
    font-size: small;
  }
  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .title-container div{
    display: flex;
    align-items: baseline;
    padding-bottom: 15px;
  }

  .delete-cart {
    background-color: lightblue;
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    padding: 0.5em 0.5em;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 35px;
  }

  .title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
  }
  .title {
    font-size: var(--lg);
    font-weight: bold;
  }

  .arrow {
    cursor: pointer;
  }

  .iconClose {
    cursor: pointer;
    filter: invert(100%);
  }

  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
  }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
  }
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
  .shopping-cart {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }

  .shopping-cart p {
    font-size: 12px;
    white-space: nowrap;
  }
  
  .shopping-cart figure {
    margin: 0;
  }
  .shopping-cart figure img {
    min-width: 45px;
    height: 52px;
    border-radius: 20px;
    object-fit: cover;
  }
  .shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
  }
  .shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
  }
  .primary-button {
    background-color: lightblue;
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }

  .product-detail-close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
  }
  .product-detail-close img {
    filter: contrast(100%), invert(100%);
  }
  .product-detail-close:hover {
    cursor: pointer;
  }
  #productDetail > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 20px;
  }
  #productDetail .product-info {
    margin: 24px 24px 24px 24px;
  }
  #productDetail .product-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  #productDetail .product-info p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
  }
  #productDetail .product-info p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
  }
  .primary-button {
    background-color: lightblue;
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  .add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-cart {
    filter: hue-rotate(90deg);
  }

  .login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    background-color: #FFFFFF;
  }
  .form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  .form a {
    color: lightblue;
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
  }
  .label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
  }
  .input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
  }
  .input-email {
    margin-bottom: 22px;
  }
  .primary-button {
    background-color: lightblue;
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  .secondary-button {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid lightblue;
    color: lightblue;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  .login-button {
    margin-top: 14px;
    margin-bottom: 30px;
  }

  .register {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    background-color: #FFFFFF;
  }
  .form-container-register {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
  }
  .title {
    font-size: var(--lg);
    margin-bottom: 36px;
    text-align: start;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .form div {
    display: flex;
    flex-direction: column;
  }
  .label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
  }
  .input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
  }
  .input-name-register,
  .input-email-register,
  .input-password-register {
    margin-bottom: 22px;
  }
  .primary-button-register {
    background-color: lightblue;
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  .login-button {
    margin-top: 14px;
    margin-bottom: 30px;
  }